{% if ''|scriptName != '/app_dev.php' %}
    <script type="text/javascript" src="/assetic/js/content.min.js"></script>
    <script type="text/javascript" src="/bundles/pizonecontent/js/config.js"></script>
{% else %}
    <script type="text/javascript" src="/assetic/js/content.min.js"></script>
    <script type="text/javascript" src="/bundles/pizonecontent/js/config.js"></script>

    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/model/content/model.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/model/content/form.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/content/list.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/content/edit.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/content/new.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/translations/content/en.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/translations/content/ru.js') }}"></script>#}

    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/model/layout/model.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/model/layout/form.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/layout/list.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/layout/edit.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/layout/new.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/translations/layout/en.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/translations/layout/ru.js') }}"></script>#}

    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/model/section/model.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/model/section/form.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/section/list.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/section/edit.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/section/new.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/translations/section/en.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/translations/section/ru.js') }}"></script>#}

    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/model/webitem/model.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/model/webitem/form.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/webitem/list.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/webitem/edit.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/webitem/new.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/translations/webitem/en.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/translations/webitem/ru.js') }}"></script>#}

    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/model/menu/model.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/model/menu/form.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/menu/list.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/menu/edit.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/menu/new.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/translations/menu/en.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/translations/menu/ru.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/model/menu/model.item.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/model/menu/form.item.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/menu/list.item.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/menu/edit.item.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/pizonecontent/js/controller/menu/new.item.js') }}"></script>#}
{% endif %}