<div ng-controller="MenuItemListCtrl">
    <table class="table table-stripped toggle-arrow-tiny" data-page-size="50">
        <thead>
        <tr>
            <th data-sort-ignore="true" class="col-checkbox">
                <input icheck type="checkbox" ng-change="Click.ToggleAll()" ng-model="isAllSelected"/>
            </th>
            <th data-toggle="true">ID</th>
            <th>{{ 'MENU.FIELD.TITLE' | translate }}</th>
            <th>{{ 'MENU.FIELD.ALIAS' | translate }}</th>
            <th>{{ 'MENU.FIELD.LINK' | translate }}</th>
            <th>{{ 'MENU.FIELD.IS_ACTIVE.LABEL' | translate }}</th>
            <th data-sort-ignore="true">{{ 'COMMON.ACTIONS' | translate }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="one in list" footable-init>
            <td>
                <input icheck type="checkbox" ng-checked="one.selected" ng-model="one.selected" ng-change="Click.OptionToggled()"/>
            </td>
            <td style="padding-left: {{30 * (one.level - 1)}}px">{{ one.id }}</td>
            <td>{{ one.title }}</td>
            <td>{{ one.alias }}</td>
            <td>{{ one.link }}</td>
            <td button-active-pizone ng-model="one"></td>
            <td list-button-group-nested-pz="'one'" ng-model="one"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="row" id="invoice-footer">
            <div class="col-md-12">

            </div>
            <div class="col-md-12 text-left">
                <div class="pull-left space-20 text-primary">
                    <button class="btn btn-sm btn-primary btn-gradient" type="button" ng-click="Click.Add()">
                        <i class="fa fa-plus-square pr5"></i> {{'COMMON.NEW' | translate}}
                    </button>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
                            {{'COMMON.BATCH' | translate}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ng-click="Click.Batch.Remove()">{{'COMMON.DELETE'|translate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>